---
// src/pages/index.astro
import { client } from '../lib/sanity';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

import Home from '../components/Home.astro';

const profile = await client.fetch(`
  *[_type == "profile"][0]{
    name, bio, githubUsername, "cvUrl": cvFile.asset->url,
    languages, certifications, experiences, education,
    socialLinks, contactEmail, contactHeading, contactDescription,
    skills, focusCompetency
  }
`);

const projects = await client.fetch(`
  *[_type == "project" && featured == true]{
    title, description, slug, tags, "imageUrl": thumbnail.asset->url,
    liveLink, gitLink
  }
`);

const latestArticles = await client.fetch(`
  *[_type == "article"] | order(_createdAt desc)[0..1]{
    title, slug, category, _createdAt
  }
`);

const tracks = await client.fetch(`
  *[_type == "track"]{
    trackTitle,
    artist,
    youtubeUrl
  }
`);
---
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{profile?.name || "Ryzal Fadhillah"} | Developer Hub</title>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) return localStorage.getItem('theme');
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      })();
      if (theme === 'dark') document.documentElement.classList.add('dark');
      else document.documentElement.classList.remove('dark');
    </script>
    <ClientRouter />
		<script is:inline>
		const applyThemeEngine = () => {
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) return localStorage.getItem('theme');
				return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
			})();
			if (theme === 'dark') document.documentElement.classList.add('dark');
			else document.documentElement.classList.remove('dark');
		};

		applyThemeEngine();
		document.addEventListener('astro:after-swap', applyThemeEngine);
	</script>
  </head>
  <body class="bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100 font-sans min-h-screen transition-colors duration-300">
    <Home profile={profile} projects={projects} latestArticles={latestArticles} tracks={tracks} />
  </body>
</html>