---
// src/components/GithubGraph.astro
const { githubUsername } = Astro.props;
---
<section class="bg-zinc-100 dark:bg-zinc-900/40 border border-zinc-200/80 dark:border-zinc-900 rounded-3xl p-6 flex flex-col justify-between overflow-hidden shadow-sm">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xs font-bold uppercase tracking-widest text-zinc-400 dark:text-zinc-500">Grafik Kontribusi GitHub</h2>
    <span class="text-xs font-mono text-zinc-400">@{githubUsername || 'username'}</span>
  </div>
  <div class="w-full flex items-center justify-center pt-2 select-none dark:invert-0 invert dark:opacity-90">
    <img src={`https://ghchart.rshah.org/10b981/${githubUsername || 'ryzalfadhillah'}`} alt="GitHub Chart" class="w-full h-auto object-contain" loading="lazy" />
  </div>
</section>